In [1]:
to_do = []
print('해야 할 일 다섯개 입력')
for i in range(5):
    to_do.append(input())
    
print(to_do)

해야 할 일 다섯개 입력
가
나
다
라
마
['가', '나', '다', '라', '마']

In [2]:
spending_6mon = [25,36,8,53,24,56]
print('1월부터 3월 지출:', spending_6mon[:3])
print('3월부터 5월 지출:', spending_6mon[2:5])
print('5월부터 6월 지출:', spending_6mon[-2:])

1월부터 3월 지출: [25, 36, 8]
3월부터 5월 지출: [8, 53, 24]
5월부터 6월 지출: [24, 56]

In [4]:
date='2021-04-15'
print('연도:', date[:4])
print('월:', date[5:7])
print('일:', date[-2:])

연도: 2021
월: 04
일: 15

In [5]:
date='2022-06-28'
print(date.split('-')[0])
print(date.split('-')[1])
print(date.split('-')[2])

2022
06
28

In [6]:
list=['가','나','다','라','마']
print('정렬 전 >>',list)
list.sort(reverse=True)
print('정렬 후 >>',list)

정렬 전 >> ['가', '나', '다', '라', '마']
정렬 후 >> ['마', '라', '다', '나', '가']

In [7]:
food=['피자','치킨','스테이크','된장찌개']
search=input('찾는 음식은?')
if search in food:
    print(food.index(search)+1, '위입니다.')
else:
    print(search, '은/는 순위에 없습니다.')

찾는 음식은?치킨
2 위입니다.

In [8]:
import random

score = []
for i in range(25):
    score.append(random.randint(0,100))
print(score)

print('리스트를 사용해 70점 이상인 점수 출력하기')
for s in score:
    if s >= 70:
        print(score.index(s)+1, '번',s)
print('인덱스를 사용해 70점 이상인 점수 출력하기')
for i in range(len(score)):
    if score[i] >= 70:
        print(i+1, '번', score[i])

[87, 83, 40, 97, 52, 13, 70, 25, 72, 20, 24, 34, 6, 50, 5, 2, 93, 37, 69, 97, 7, 66, 92, 9, 1]
리스트를 사용해 70점 이상인 점수 출력하기
1 번 87
2 번 83
4 번 97
7 번 70
9 번 72
17 번 93
4 번 97
23 번 92
인덱스를 사용해 70점 이상인 점수 출력하기
1 번 87
2 번 83
4 번 97
7 번 70
9 번 72
17 번 93
20 번 97
23 번 92

In [9]:
abc = [[1,2,3],[4,5,6],[7,8,9]]
print(abc[0])
print(abc[1])
print(abc[2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [10]:
abc = [[1,2,3],[4,5,6],[7,8,9]]
print(abc[0][1])
print(abc[1][2])

2
6

In [11]:
abc = [[1,2,3],[4,5,6],[7,8,9]]
for row in abc:
    print(row[0])

1
4
7

In [13]:
#실습1번-1
import random
book_name = ['역사탐험대','파이썬','학습법','영단어','여행에세이','삼국지']
book_price = []

for b in book_name:
    book_price.append(random.randint(15000,25000))

print(book_name)
print(book_price)

['역사탐험대', '파이썬', '학습법', '영단어', '여행에세이', '삼국지']
[21351, 24718, 21985, 18986, 16563, 16916]

In [18]:
#실습1번-2
import random
book_name = ['역사탐험대','파이썬','학습법','영단어','여행에세이','삼국지']
book_price = []

for b in book_name:
    book_price.append(random.randint(15000,25000))
    
print(book_name)
print(book_price)

print('가장 비싼 가격의 도서 제목 >>', book_name[book_price.index(max(book_price))])

['역사탐험대', '파이썬', '학습법', '영단어', '여행에세이', '삼국지']
[24747, 15056, 17397, 18793, 15913, 17505]
가장 비싼 가격의 도서 제목 >> 역사탐험대

In [20]:
#실습2번-1
ranking = [[1, '라이언', 956412, 564553],
           [2, '니니즈', 861832, 927175],
           [3, '어피치', 796354, 593175],
           [4, '프로도', 534840, 864326],
           [5, '네오', 387896, 648367]]
print('<< 순위 - 이름 >>')
for r in ranking:
    print(r[0],'-',r[1])

<< 순위 - 이름 >>
1 - 라이언
2 - 니니즈
3 - 어피치
4 - 프로도
5 - 네오

In [22]:
#실습2번-2
ranking = [[1, '라이언', 956412, 564553],
           [2, '니니즈', 861832, 927175],
           [3, '어피치', 796354, 593175],
           [4, '프로도', 534840, 864326],
           [5, '네오', 387896, 648367]]
print('<< 50만표 넘은 사람 >>')
for r in ranking:
    if r[2] > 500000:
        print(r[1], '-', r[2])

<< 50만표 넘은 사람 >>
라이언 - 956412
니니즈 - 861832
어피치 - 796354
프로도 - 534840

In [23]:
#실습2번-3
ranking = [[1, '라이언', 956412, 564553],
           [2, '니니즈', 861832, 927175],
           [3, '어피치', 796354, 593175],
           [4, '프로도', 534840, 864326],
           [5, '네오', 387896, 648367]]
print('<< 득표수가 떨어진 사람 >>')
for r in ranking:
    if r[2] < r[3]:
        print(r[1], '-', r[3]-r[2],'표 떨어짐')

<< 득표수가 떨어진 사람 >>
니니즈 - 65343 표 떨어짐
프로도 - 329486 표 떨어짐
네오 - 260471 표 떨어짐

In [24]:
#실습2번-4
ranking = [[1, '라이언', 956412, 564553],
           [2, '니니즈', 861832, 927175],
           [3, '어피치', 796354, 593175],
           [4, '프로도', 534840, 864326],
           [5, '네오', 387896, 648367]]
print('<< 80만표 넘은 사람 >>')
for r in ranking:
    if r[2] > 800000 or r[3] > 800000:
        print(r[1])

<< 80만표 넘은 사람 >>
라이언
니니즈
프로도